{% extends "base.html" %}

{% block content %}

  <div class="row bg-light m-3 p-3" >
    <div class="col-lg-12">
    <h3>{{player.fullname()}}</h3>
      <table class="table table-sm">
        <tr>
          <th>ID</th>
          <th>Player</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Job</th>
          <th>Hometown</th>
          <th>Strategy</th>
          <th>Social</th>
          <th>Physical</th>
          <th>Overall</th>
        </tr>
          <tr>
            <td>{{player.id}}</td>
            <td>{{player.fullname()}}</td>
            <td>{{player.age}}</td>
            <td>{{player.gender}}</td>
            <td>{{player.job}}</td>
            <td>{{player.hometown}}</td>
            <td>{{player.strategy}}</td>
            <td>{{player.social}}</td>
            <td>{{player.physical}}</td>
            <td>{{player.strength()}}</td>
          </tr>
      </table>

      <h5>Relationships:</h5>

      <table class="table table-sm">
        {% with player_list = game.players %}
          <tr>
            <th></th>
            {% for other in player_list %}
              <th>{{other.first}}</th>
            {% endfor %}
          </tr>
          <tr>
            <th>Relationship</th>
            {% for other in player_list %}
              <td>{{player.rel(other)|round(2)}}</td>
            {% endfor %}
          </tr>
          {% endwith %}
      </table>

      </div>
  </div>

{% endblock %}
