<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">Survivor Experiment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="/list">List</a>
       </li>
       {% if tribes %}
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Tribes
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             {% for tribe in tribes %}
             <a class="dropdown-item" href="#">{{tribe.name}}</a>
             {% endfor %}
           </div>
         </li>
        {% endif %}
     </ul>
   </div>


</nav>
