<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="/new">Survivor Experiment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

     <ul class="navbar-nav mr-auto">
       <li class="nav-item"><a class="nav-link" href="/list">Status</a></li>
       <li class="nav-item"><a class="nav-link" href="/schedule">Schedule</a></li>
       <li class="nav-item"><a class="nav-link" href="/story">Story</a></li>
     </ul>

     {% if game %}
       <ul class="navbar-nav ml-auto">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Tribes
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             {% for tribe in game.tribes %}
             <a class="dropdown-item" href="/tribe/{{tribe.id}}/">{{tribe.name}}</a>
             {% endfor %}
           </div>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Players
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             {% for player in game.players %}
             <a class="dropdown-item" href="/player/{{player.id}}/">{{player.first}}</a>
             {% endfor %}
           </div>
         </li>


         <li class="nav-item nav-link text-white p-r-3">Game: {{game.id}}</li>
         <li class="nav-item nav-link text-white">Day: {{game.day}}</li>
         {% if game.gameon %}
           <li class="nav-item nav-link text-white"><a href="/next/">
             <button type="button" class="btn btn-primary btn-sm small">
               Next: {{game.get_next_event()}}</button>
           </a></li>
           <li class="nav-item nav-link text-white"><a href="/sim/">
             <button type="button" class="btn btn-secondary btn-sm small">
               Sim</button>
           </a></li>
         {% endif %}

       </ul>

      {% endif %}
   </div>


</nav>
